<h1>Employee List(Pagination)</h1>
<li>emps: {{ pagination.objs }}</li>

<table>
    <tr>
        <th>num</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
    </tr>
    {% for emp in pagination.objs %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.age }}</td>
        <td>
        {% if emp.gender == 1 %}
            男
        {% elif emp.gender == 2 %}
            女
        {% else %}
            其他
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- 第一页, 上一页 -->
{% if pagination.cur_page != 1 %}
    <a href="?cur_page=1">&lt;&lt;</a>  
    <a href="?cur_page={{ pagination.pre_page }}">&lt;</a>  
{% endif %}

<!-- 省略号 -->
{{ pagination.start_page_omit_symbol }}

<!-- 能点击的页码 -->
{% for page_item in pagination.page_items %}
    {% if page_item == pagination.cur_page %}
        {{ page_item }}
    {% else %}
        <a href="?cur_page={{ page_item }}">{{ page_item }}</a>  
    {% endif %}
{% endfor%}

<!-- 省略号 -->
{{ pagination.end_page_omit_symbol }}

<!-- 下一页, 最后一页 -->
{% if pagination.cur_page != pagination.all_page %}
    <a href="?cur_page={{ pagination.next_page }}">&gt;</a>  
    <a href="?cur_page={{ pagination.all_page }}">&gt;&gt;</a>  
{% endif %}

